<div class="idea-list">
    <ul class="list-unstyled">
        <% @ideas.each do |idea| %>
            <li class="idea-contents clear-fix">
                <div class="alignedsection">
                    <h4 class="alignleft"><%=idea.name%></h4>
                    <a class="btn btn-secondary alignright" href="/ideas/<%=idea.id%>/newgoal">Create Goal</a>
                </div>
                <div class="alignedsection clear-fix">
                    <% if !idea.image_url.nil? %>
                        <img src="<%=idea.image_url%>" alt="<%=idea.name%>" class="idea-img">
                    <% end %>
                    <p class="clear-fix"><em><%=idea.description%></em></p>
                </div>
                <% if !idea.url.nil? %>
                    <h5><a href="<%=idea.url%>" target=_blank><%=idea.url%></a></h5>
                <% end %>
            </li>
        <% end %>
    </ul>
</div>

