<form class="bucket-form" action="/goals/<%=@goal.id%>" method="POST">
    <h4>Edit Goal</h4>
    <input id="hidden" type="hidden" name="_method" value="patch">

    <div class="form-group row">
        <label for="title" class="col-sm-3 col-form-label">Title:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="goal[title]" value="<%=@goal.title%>" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="Description" class="col-sm-3 col-form-label">Description:</label>
        <div class="col-sm-9">
            <textarea id="description" class="description-input" name="goal[description]" rows="5"><%=@goal.description%></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="url" class="col-sm-6 col-form-label">URL for additional information:</label>
        <div class="col-sm-6">
            <input type="url" class="form-control" name="goal[url]" value="<%=@goal.url%>">
        </div>
    </div>

    <div class="form-group row">
        <label for="image_url" class="col-sm-6 col-form-label">URL for image:</label>
        <div class="col-sm-6">
            <input type="url" class="form-control" name="goal[image_url]" value="<%=@goal.image_url%>" >
        </div>
    </div>    
    <div class="row">
        <div class="col-sm-3 offset-sm-3 text-center">
            <button class="btn btn-dark" type="submit" id="submit" value="submit">
                Update Goal<img src="/images/bucket-24.png">
            </button>
        </div>
        <div class="col-sm-3 text-center">        
            <a class="btn btn-secondary" href="/user-home">Cancel</a>
        </div>            
    </div>

</form>