<h3 class="alignleft">Hi <%=@user.name%>!</h2>
<a class="alignright btn btn-secondary"href="/buckets/new">Create Bucket</a>

<ul class="clear-fix list-unstyled ">
    <% @buckets.each do |bucket| %>
        <li class="clear-fix">
            <button type="button" class="btn btn-bucket alignleft" data-toggle="collapse" data-target="#bucket<%=bucket.id%>">Bucket: <%=bucket.name%></button>
            <a class="btn alignright" href="/buckets/<%=bucket.id%>/edit">Edit</a>
            <div id="bucket<%=bucket.id%>" class="collapse clear-fix"">
                <p><em><%=bucket.description%></em></p>
                <ul class="list-unstyled">
                    <% bucket.goals.each do |goal| %>
                        <li>
                            <h4><%=goal.title%></h4>
                            <p><%=goal.description%></p>
                        </li>
                    <% end %>
                </ul>
            </div>
        </li>
    <% end %>
</ul>

