<div class="user-heading">
    <h5 style="display: inline" class-"alignleft">Hi <%=@user.name%>!</h5>
    <a class="btn btn-dark alignright" href="/buckets/new">Create Bucket</a>
</div>

<div class="user-buckets clear-fix">

    <% @buckets.each do |bucket| %>
        <div class="bucket-contents">
            <div class="alignedsection">
                <h4 class="alignleft clear-fix"><img src="/images/bucket-24.png"><%=bucket.name%></h4>   
                <form class="alignright" method="post" action="/buckets/<%=bucket.id%>/delete">
                    <input id="hidden" type="hidden" name="_method" value="delete">
                    <button class="btn btn-sm btn-secondary" type="submit">Delete Bucket<i class="fas fa-trash-alt"></i></button>
                </form>
                <a class="btn btn-secondary btn-sm alignright" href="/buckets/<%=bucket.id%>/edit">Edit<i class="fas fa-edit"></i></a>
            </div>
            <p class="clear-fix"><em><%=bucket.description%></em></p>   

            <div class="alignedsection">
                <button type="button" class="btn goals-btn clear-fix" data-toggle="collapse" data-target="#bucket<%=bucket.id%>">
                    Goals
                </button>
                <a class="btn btn-secondary btn-sm" href="/buckets/<%=bucket.id%>/goals/new"><i class="fas fa-plus"></i>Add Goal</a>
            </div>
            <div id="bucket<%=bucket.id%>" class="bucket-goals collapse">
                <ul class="list-unstyled clear-fix">
                <% bucket.goals.each do |goal| %>
                    <li class="clear-fix">
                        <h4>
                            <%=goal.title%>
                            <% if goal.completed %>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            <% end %>
                        </h4>
                        <a class="btn btn-sm btn-secondary" href="/goals/<%=goal.id%>/edit"><i class="fas fa-edit"></i></a>
                        <form method="post" action="/goals/<%=goal.id%>/delete">
                            <input id="hidden" type="hidden" name="_method" value="delete">
                            <button class="btn btn-sm btn-secondary" type="submit"><i class="fas fa-trash-alt"></i></button>
                        </form>
                        <div class="alignedsection">
                            <% if goal.image_url.present? %>
                                <img src="<%=goal.image_url%>" alt="<%=goal.title%>" class="goal-img alignleft">
                            <% end %>
                            <p><%=goal.description%></p>
                        </div>
                        <% if !goal.url.nil? %>
                            <a href="<%=goal.url%>" target=_blank><%=goal.url%></a>
                        <% end %>
                        <p class="clear-fix"></p> <!-- kluge to extend background behind image. To Do: fix -->           
                    </li>
                <% end %>
                </ul>
            </div> <!-- bucket-goals -->

        </div> <!-- bucket-contents -->
   <% end %>
</div> <!-- end user buckets -->

